<div class="main-wrapper">

  <h1>Farmer's Enquiry Form</h1>
  <hr />
  <h5>What kind of problem</h5>
  <div class="enquiry">
    <div>
      <textarea placeholder="Tell your problem here" cols="70" rows="10"></textarea>
    </div>
    <div class="box">
      <i class="fas fa-image"></i>
      <span>Upload Image</span>
    </div>
    <div class="box">
      <i class="fas fa-microphone"></i>
      <span>Record Audio</span>
    </div>
  </div>
  <div class="enquiry-btn">
      <button uiButton class="btn btn-success">Submit</button>
  </div>
</div>