<div class="main-wrapper">
  <div class="product-box">
    <div class="product-preview">
      <ui-photo-carousel [photos]="photos"></ui-photo-carousel>
      <div>
        <h4>Description</h4>
        <p [innerHTML]="product.description"></p>
      </div>
      <!-- <div>
        <h4>Product Details</h4>
        <table cellspacing="0">
          <tbody>
            <tr>
              <th>
                Brand:
              </th>
              <td>
                Tata
              </td>
            </tr>
            <tr>
              <th>
                Format:
              </th>
              <td>
                Split
              </td>
            </tr>
            <tr>
              <th>
                Weight:
              </th>
              <td>
                1000grams
              </td>
            </tr>
          </tbody>
        </table>
      </div> -->
    </div>
    <div class="product-info">
      <div class="title">
        <h3>{{ product.title }}</h3>
      </div>
      <div class="price-box">
        <div class="price" *ngFor="let variant of product.variants;let i=index">
          <div *ngIf=" i === selectIndex">
            <p>M.R.P. <span class="old-price"><i class="fas fa-rupee-sign"></i> {{ variant.pricing.retail }}</span></p>
            <p>Price <span class="new-price">{{ variant.pricing.sale }} <i class="fas fa-rupee-sign"></i></span></p>
          </div>
        </div>
        <div class="rating">
          <ui-rating [value]="3"></ui-rating>
        </div>
      </div>

      <div class="size-box">
        <p>Select quantity</p>
        <button [uiButton] [type]="'size'" [kitCheck] [(ngModel)]="size" (click)="selectQty(i)"
          [value]="variant.shipping.weight"
          *ngFor="let variant of product.variants;let i=index">{{ variant.shipping.weight }}
          {{ variant.shipping.unit }}</button>
      </div>
      <button class="add" [uiButton] (click)="data.addToCart(product.id)"> <i class="fas fa-cart-plus"> </i> Add to
        cart</button>
      <div>
        <h4>Delivery Information</h4>
        <p>Next day delivery available until 9pm.</p>
      </div>
      <div>
        <h4>Returns Policy</h4>
        <p>We are confident that you will be happy with your purchase. However, if you are not satisfied you can return
          your item for a full refund.</p>
      </div>
    </div>
  </div>
  <div class="recently-viewed">
    <h4>Recently viewed:</h4>
    <div class="list-cards">
      <app-card *ngFor="let product of recent" [product]="product"></app-card>
    </div>
  </div>
</div>