<div class="main-wrapper home-page">
  <carousel>
    <slide>
      <img src="../../../assets/banner.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../../assets/banner2.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../../assets/banner3.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../../assets/banner4.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
  <div class="hot-offers" *ngFor="let category of data.categories">
    <div class="head">
      <div class="line">
        <hr class="hr">
      </div>
      <div class="title">
        <h2><a routerLink="/products">{{category.name}}</a></h2>
      </div>
      <div class="line">
        <hr class="hr">
      </div>
    </div>
    <div class="offers">
      <div class="product" *ngFor="let product of data.products[category.id]">
        <div class="wrapper">
          <a routerLink="/products/{{category.id}}/{{product.id}}"><img
              [src]="data.baseUrl + product.assets[0].path"></a>
        </div>
        <div class="sub-title">{{product.title}}</div>
        <span *ngFor="let variant of product.variants;let i=index;let selvar" [ngClass]="{'current':i == 0}" [attr.itemVariantId]="variant.id">
          <div class="price-box" [ngStyle]="{'display' : i == 0 ? 'flex' : 'none'}">
            <p class="old-price">{{variant.pricing.retail}} <i class="fas fa-rupee-sign"></i></p>
            <p class="new-price">{{variant.pricing.sale}} <i class="fas fa-rupee-sign"></i></p>
          </div>
          <span class="badge badge-primary" [ngClass]="{'badge-info': i == 0}" (click)="selectVariant($event,i)">{{variant.shipping.weight}} {{variant.shipping.unit}}</span>
        </span>
        <button (click)="data.addToCart()"><i class="fas fa-cart-plus"></i> ADD TO CART</button>
      </div>

    </div>
  </div>

</div>