<div class="main-wrapper home-page">
  <carousel>
    <slide>
      <img src="../../../assets/banner.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../../assets/banner2.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../../assets/banner3.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../../assets/banner4.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
  <div class="hot-offers">
    <div class="head">
      <div class="line">
        <hr class="hr">
      </div>
      <div class="title">
        <h2><a routerLink="/products">Products</a></h2>
      </div>
      <div class="line">
        <hr class="hr">
      </div>
    </div>
    <div class="offers">
      <div class="product">
        <div class="wrapper">
          <a routerLink="/products/1"><img src="../../../assets/others/coconut.jpg"></a>
        </div>
        <div class="sub-title">Coconut Boards</div>
        <div class="price-box">
          <p class="old-price">260 <i class="fas fa-rupee-sign"></i></p>
          <p class="new-price">180 <i class="fas fa-rupee-sign"></i></p>
        </div>
        <div class="quantity-box">
          <span class="badge badge-primary">
            1pc</span>
          <span class="badge badge-info">
            5 pc</span>
          <span class="badge badge-primary">
            10 pc
          </span>
        </div>
        <button (click)="data.cartCount = data.cartCount + 1"><i class="fas fa-cart-plus"></i> ADD TO CART</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <a routerLink="/products/2"> <img src="../../../assets/others/rice.jpeg"></a></div>
        <div class="sub-title">Rice</div>
        <div class="price-box">
          <p class="old-price">354 <i class="fas fa-rupee-sign"></i></p>
          <p class="new-price">282 <i class="fas fa-rupee-sign"></i></p>
        </div>
        <div class="quantity-box">
          <span class="badge badge-primary">
            1Kg</span>
          <span class="badge badge-info">
            5 Kg</span>
          <span class="badge badge-primary">
            10 Kg
          </span>
        </div>
        <button (click)="data.cartCount = data.cartCount + 1"><i class="fas fa-cart-plus"></i> ADD TO CART</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <a routerLink="/products/3"> <img src="../../../assets/others/grains.jpeg"></a></div>
        <div class="sub-title">Grains</div>
        <div class="price-box">
          <p class="old-price">74 <i class="fas fa-rupee-sign"></i></p>
          <p class="new-price">52 <i class="fas fa-rupee-sign"></i></p>
        </div>
        <div class="quantity-box">
          <span class="badge badge-info">
            1Kg</span>
          <span class="badge badge-primary">
            5 Kg</span>
          <span class="badge badge-primary">
            10 Kg
          </span>
        </div>
        <button (click)="data.cartCount = data.cartCount + 1"><i class="fas fa-cart-plus"></i> ADD TO CART</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <a routerLink="/products/1"><img src="../../../assets/others/pulses.jpg"></a></div>
        <div class="sub-title">Pulses</div>
        <div class="price-box">
          <p class="old-price">642 <i class="fas fa-rupee-sign"></i></p>
          <p class="new-price">512 <i class="fas fa-rupee-sign"></i></p>
        </div>
        <div class="quantity-box">
          <span class="badge badge-primary">
            1Kg</span>
          <span class="badge badge-primary">
            5 Kg</span>
          <span class="badge badge-info">
            10 Kg
          </span>
        </div>
        <button (click)="data.cartCount = data.cartCount + 1"><i class="fas fa-cart-plus"></i> ADD TO CART</button>
      </div>
    </div>
  </div>
  <div class="hot-offers">
    <div class="head">
      <div class="line">
        <hr class="hr">
      </div>
      <div class="title">
        <h2><a routerLink="/products">Seasonal Fruits</a></h2>
      </div>
      <div class="line">
        <hr class="hr">
      </div>
    </div>
    <div class="offers">
      <div class="product">
        <div class="wrapper">
          <a routerLink="/products/1"> <img src="../../../assets/fruits/mango.jpg"></a>
        </div>
        <div class="sub-title">MANGO</div>
        <div class="price-box">
          <p class="old-price">120 <i class="fas fa-rupee-sign"></i></p>
          <p class="new-price">88 <i class="fas fa-rupee-sign"></i></p>
        </div>
        <div class="quantity-box">
          <span class="badge badge-primary">
            250 gm</span>
          <span class="badge badge-primary">
            500 gm</span>
          <span class="badge badge-info">
            1 kg
          </span>
        </div>
        <button (click)="data.cartCount = data.cartCount + 1"> <i class="fas fa-cart-plus"></i> ADD TO CART</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <a routerLink="/products/1">  <img src="../../../assets/fruits/BANANA.jpg"></a>
        </div>
        <div class="sub-title">BANANA</div>
        <div class="price-box">
          <p class="old-price">24 <i class="fas fa-rupee-sign"></i></p>
          <p class="new-price">16 <i class="fas fa-rupee-sign"></i></p>
        </div>
        <div class="quantity-box">
          <span class="badge badge-primary">
            250 gm</span>
          <span class="badge badge-info">
            500 gm</span>
          <span class="badge badge-primary">
            1 kg
          </span>
        </div>
        <button (click)="data.cartCount = data.cartCount + 1"><i class="fas fa-cart-plus"></i> ADD TO CART</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <a routerLink="/products/1"> <img src="../../../assets/fruits/langra-mango.jpg"></a>
        </div>
        <div class="sub-title">Langra Mango</div>
        <div class="price-box">
          <p class="old-price">24 <i class="fas fa-rupee-sign"></i></p>
          <p class="new-price">22 <i class="fas fa-rupee-sign"></i></p>
        </div>
        <div class="quantity-box">
          <span class="badge badge-info">
            250 gm</span>
          <span class="badge badge-primary">
            500 gm</span>
          <span class="badge badge-primary">
            1 kg
          </span>
        </div>
        <button (click)="data.cartCount = data.cartCount + 1"><i class="fas fa-cart-plus"></i> ADD TO CART</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <a routerLink="/products/1"> <img src="../../../assets/fruits/Pomegranate.jpg"></a>
        </div>
        <div class="sub-title">Pomegranate</div>
        <div class="price-box">
          <p class="old-price">90 <i class="fas fa-rupee-sign"></i></p>
          <p class="new-price">68 <i class="fas fa-rupee-sign"></i></p>
        </div>
        <div class="quantity-box">
          <span class="badge badge-primary">
            250 gm</span>
          <span class="badge badge-info">
            500 gm</span>
          <span class="badge badge-primary">
            1 kg
          </span>
        </div>
        <button (click)="data.cartCount = data.cartCount + 1"><i class="fas fa-cart-plus"></i> ADD TO CART</button>
      </div>

    </div>
  </div>

  <div class="hot-offers">
    <div class="head">
      <div class="line">
        <hr class="hr">
      </div>
      <div class="title">
        <h2><a routerLink="/products">Seasonal Vegitables</a></h2>
      </div>
      <div class="line">
        <hr class="hr">
      </div>
    </div>
    <div class="offers">
      <div class="product">
        <div class="wrapper">
          <a routerLink="/products/3"><img src="../../../assets/Vegitables/TOMATO.jpg"></a>
        </div>
        <div class="price-box">
          <p class="old-price">20 <i class="fas fa-rupee-sign"></i></p>
          <p class="new-price">13 <i class="fas fa-rupee-sign"></i></p>
        </div>
        <div class="quantity-box">
          <span class="badge badge-primary">
            250 gm</span>
          <span class="badge badge-primary">
            500 gm</span>
          <span class="badge badge-info">
            1 kg
          </span>
        </div>
        <button (click)="data.cartCount = data.cartCount + 1"><i class="fas fa-cart-plus"></i> ADD TO CART</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/Vegitables/onion.jpg">
        </div>
        <div class="price-box">
          <p class="old-price">32 <i class="fas fa-rupee-sign"></i></p>
          <p class="new-price">28 <i class="fas fa-rupee-sign"></i></p>
        </div>
        <div class="quantity-box">
          <span class="badge badge-primary">
            250 gm</span>
          <span class="badge badge-primary">
            500 gm</span>
          <span class="badge badge-info">
            1 kg
          </span>
        </div>
        <button (click)="data.cartCount = data.cartCount + 1"><i class="fas fa-cart-plus"></i> ADD TO CART</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <a routerLink="/products/1"> <img src="../../../assets/Vegitables/potato.jpg"></a>
        </div>
        <div class="price-box">
          <p class="old-price">16 <i class="fas fa-rupee-sign"></i></p>
          <p class="new-price">8 <i class="fas fa-rupee-sign"></i></p>
        </div>
        <div class="quantity-box">
          <span class="badge badge-primary">
            250 gm</span>
          <span class="badge badge-info">
            500 gm</span>
          <span class="badge badge-primary">
            1 kg
          </span>
        </div>
        <button (click)="data.cartCount = data.cartCount + 1"><i class="fas fa-cart-plus"></i> ADD TO CART</button>
      </div>
    </div>
  </div>


</div>