<div class="main-wrapper home-page">
  <carousel>
    <slide>
      <img src="../../../assets/banner.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../../assets/banner2.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../../assets/banner3.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../../assets/banner4.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
  <div class="hot-offers" *ngFor="let category of data.categories">
    <div class="head">
      <div class="line">
        <hr class="hr">
      </div>
      <div class="title">
        <h2><a routerLink="/products">{{category.name}}</a></h2>
      </div>
      <div class="line">
        <hr class="hr">
      </div>
    </div>
    <div class="offers">
      <div class="product" *ngFor="let product of data.products[category.id]">
        <div class="wrapper">
          <a routerLink="/products/{{category.id}}/{{product.id}}"><img [src]="product.assets[0].path"></a>
        </div>
        <div class="sub-title">{{product.title}}</div>
        <div class="price-box">
          <p class="old-price">{{product.pricing.retail}} <i class="fas fa-rupee-sign"></i></p>
          <p class="new-price">{{product.pricing.sale}} <i class="fas fa-rupee-sign"></i></p>
        </div>
        <div class="quantity-box">
          <span class="badge badge-primary">
            1pc</span>
          <span class="badge badge-info">
            5 pc</span>
          <span class="badge badge-primary">
            10 pc
          </span>
        </div>
        <button (click)="data.addToCart('1')"><i class="fas fa-cart-plus"></i> ADD TO CART</button>
      </div>

    </div>
  </div>

</div>