<a routerLink="/products/{{product.categoryIds[0]}}/{{product.id}}">
<div class="product-photo">
  <img [src]="data.baseUrl + product.assets[0].path">
</div>
<div class="product-info">
  <div>
    <div class="title">
      <h3>{{ product.title }}</h3>
    </div>
    
  </div>
  <div class="price-box">
    <p class="old-price"><i class="fas fa-rupee-sign"></i> {{ product.pricing.retail }}</p>
    <p class="new-price"><i class="fas fa-rupee-sign"></i> {{ product.pricing.sale }}</p>
  </div>
</div>
</a>
