<div class="top-bar">
  <div class="main-wrapper">
    <div class="logo" routerLink="/">NICE</div>
    <div class="navigation">
      <ul class="main-menu">
        <li><a>All Products</a>
          <ul class="section">
            <li *ngFor="let category of dataService.categories">
              <div class="title">
                <a routerLink="/products">{{category.name}}</a>
              </div>
              <ul>
                <li *ngFor="let product of dataService.products[category.id]"><a
                    routerLink="/products/{{category.id}}/{{product.id}}">{{product.title}}</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- <div class="search">
       <input type="text" placeholder="Search and add to shopping cart..." [(ngModel)]="inputModel"> 
      <button>
        
      </button>
    </div> -->
    <div class="account">
      <ul>

        <li class="support"> <a routerLink="/support"> <i class="fas fa-headset"></i> Support</a></li>
        <li> <a routerLink="/bag" class="shopping-badge"> <i class="fas fa-shopping-cart"></i><span
              class="badge badge-dark">{{dataService.cartCount}}</span> cart</a></li>
        <li class="sign-in">
          <a routerLink="/auth/sign-in">
            <i class="fas fa-user-circle"></i> Hello, {{dataService.user}}</a>
          <ul class="drop-down">
            <li *ngIf="dataService.user == 'SME_NICE'"><a routerLink="products/1/upload">I want to sell my product</a>
            </li>
            <li>Change Password</li>
            <li (click)="logOut()">Logout</li>
          </ul>

        </li>

      </ul>


    </div>
  </div>
</div>