<div class="filter-section">
  <div class="head">
    <div>
      <div class="title">Refine <a class="clear-all" href=""> Clear All</a></div>
    </div>
    <div class="chosen-box">
      <div>
        <a href="">
          <span class="icon"></span>
          <span class="selected-type">Category:</span> Pulses
        </a>
      </div>
    </div>
  </div>

  <div>
    <ui-side-menu>
      <ui-side-menu-group>
        <div class="title">Category</div>
        <ui-side-menu-sub>
          <div class="type-box">
            <div>
              <label>
                <input [uiInput] type="checkbox">
                <span>Coconut Board</span>
              </label>
            </div>
            <div><label>
              <input [uiInput] type="checkbox">
              <span>Rice</span> </label>
            </div>
            <div><label>
              <input [uiInput] type="checkbox" checked>
              <span>Pulses</span> </label>
            </div>
            <div><label>
              <input [uiInput] type="checkbox">
              <span>Grains</span> </label>
            </div>
          </div>
        </ui-side-menu-sub>
      </ui-side-menu-group>
    </ui-side-menu>
  </div>
  <div>
    <div class="title">Quantity</div>
    <div class="size-box">
      <button [uiButton] [type]="'size'" [kitCheck] [(ngModel)]="size" [value]="'250'">250 gm</button>
      <button [uiButton] [type]="'size'" [kitCheck] [(ngModel)]="size" [value]="'500'">500 gm</button>
      <button [uiButton] [type]="'size'" [kitCheck] [(ngModel)]="size" [value]="'1kg'">1 Kg</button>
      <button [uiButton] [type]="'size'" [kitCheck] [(ngModel)]="size" [value]="'5kg'">5 Kg</button>
    </div>
  </div>
  <div>
    <div class="title">Price</div>
    <ui-slider [range]="true" [ngModel]="[10, 50]"></ui-slider>
  </div>

</div>

